.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.appHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px #00000013;
}

.appMenu {
  border: none;
}

.title {
  margin-right: 625px;
}

.loginIcon {
  font-size: 30px;
  margin-right: 8px;
}

/* had to remove this if not the login div would not be centered */
 .pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
} 

/* used fixed position so footer will always be at the bottom */
.appFooter {
  /* height: 30px; */
  background-color: lightgrey;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.background {
  background: url('Images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 630px;
}

.homeSlogan {
  margin-left: 100px;
}

.homeCaption {
  margin-left: 100px;
  width: 800px;
}

.searchbox {
  margin-left: 100px;
  margin-top: 100px;
}