.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.appHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px #00000013;
}

.appMenu {
  border: none;
}

.title {
  margin-right: 500px;
}

.loginIcon {
  font-size: 30px;
  margin-right: 8px;
}

.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.appFooter {
  height: 30px;
  background-color: lightgrey;
  text-align: center;
}

.background {
  background: url('Images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 5000px;
  height: 605px;
}

.homeSlogan {
  margin-left: 100px;
}

.homeCaption {
  margin-left: 100px;
  width: 800px;
}